<div class="header py-7 py-lg-8 align-items-center" style="min-height: 500px; background-image: url(assets/img/theme/team3.jpg); background-size: cover; background-position: center top;">
<!-- Mask -->
<span class="mask bg-gradient-danger opacity-1"></span>
    <div class="container" >
      <div class="header-body text-center mb-7" >
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6" >
            <h1 class="display-2 text-white">RAMSociety</h1>
            <p class="text-white mt-0 mb-5">Trouver une devise</p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-80" >
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
                <h3 class="mb-0">Espace recruteurs</h3>
            </div>
            <form role="form">
                <div class="text-center">
            <p text-align="center">Découvrez de nouveaux talents ! Travaillez avec le plus grand réseau de professionnels indépendants et faites avancer les choses.</p></div>
              <div class="text-center">
                <button type="button" class="btn btn-primary mt-4">Découvrir</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-80" >
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
                <h3 class="mb-0">Espace freelancers</h3>
            </div>
            <form role="form">
                <div class="text-center">
            <p text-align="center">Rencontrez des clients renommés et emmenez
              votre carrière ou votre entreprise vers de nouveaux sommets. Contrôlez quand, où et comment vous travaillez !</p></div>
              <div class="text-center">
                <button type="button" class="btn btn-primary mt-4">Découvrir</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  