<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="max-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-1"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello Username</h1>
        <p class="text-white mt-0 mb-5">Vous êtes sur votre page profil, remplissez vos informations pour être remarqué !</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mon compte</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-default">Editer le profil</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form >
            <h6 class="heading-small text-muted mb-4">Informations utilisateur</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <p>{{freelancer.username}}</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Password</label>
                    <p>*************</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <p>{{freelancer.emailUser}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Prénom</label>
                    <p>{{freelancer.prenomUser}}</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Nom</label>
                    <p>{{freelancer.nomUser}}</p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Informations pro -->
             <h6 class="heading-small text-muted mb-4">Informations professionnelles</h6>
             <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Métier</label>
                    <p>{{freelancer.metier}}</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-disponibilite">Disponibilité  </label>
                    <br>
                    <input type="checkbox" id="input-email" class="checkbox" (checked)="freelancer.disponible" disabled="">
                  </div>
                </div>
              </div>
            </div>

            <!-- Entreprise 
            <h6 class="heading-small text-muted mb-4">Informations entreprise</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Nom</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Adresse</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Ville</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Pays</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Code Postal</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                  </div>
                </div>
              </div>
            </div>-->
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mon compte</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-default">Editer le profil</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form >
            <h6 class="heading-small text-muted mb-4">Informations utilisateur</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <p>{{jobowner.username}}</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Password</label>
                    <p>*************</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <p>{{jobowner.emailUser}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Prénom</label>
                    <p>{{jobowner.prenomUser}}</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Nom</label>
                    <p>{{jobowner.nomUser}}</p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Informations pro -->
             <h6 class="heading-small text-muted mb-4">Informations professionnelles</h6>
             <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Métier</label>
                    <p>{{jobowner.metier}}</p>
                  </div>
                </div>
              <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Entreprise</label>
                    <p>{{jobowner.entreprise.nom}}</p>
                  </div>
                </div> 
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Département</label>
                    <p>{{jobowner.departement}}</p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

