<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="max-height: 600px; background-image: url(assets/img/theme/plan3.png); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-1"></span>
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Entreprises</h1>
                <p class="text-white mt-0 mb-5">Modifier les informations d'une entreprise</p>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <p>Modifier les informations</p>
                    </div>
                    <form role="form" [formGroup]="editEntreprise">
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input [(ngModel)]="entreprise.nom" formControlName="nom" class="form-control"  placeholder="Nom"
                                    type="text">
                            </div>
                        </div>
                        <div formGroupName="adresse">
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="entreprise.adresse.adresse" formControlName="adresse"
                                    placeholder="Adresse" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="entreprise.adresse.ville" formControlName="ville"
                                    placeholder="Ville" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="entreprise.adresse.cp" formControlName="cp"
                                    placeholder="Code Postal" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="entreprise.adresse.pays" formControlName="pays"
                                    placeholder="Pays" type="text">
                            </div>
                        </div>
                        </div>
                        <div class="text-center">
                                <button type="button" class="btn btn-primary mt-4" (click)="updateEntreprise()">Sauvegarder les changements</button>
                                <button type="button" class="btn btn-danger mt-4" (click)="cancel()">Annuler</button>
                        
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>