<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="max-height: 600px; background-image: url(assets/img/theme/entreprise.png); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-1"></span>
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Entreprises</h1>
                <p class="text-white mt-0 mb-5">La liste des entreprises qui travaillent avec nous</p>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Liste des entreprises</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Ville</th>
                                <th scope="col">Pays</th>
                                <th scope="col">Email</th>
                                <th scope="col">Action</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let e of entreprises">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">{{e.nom}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    {{e.adresse.adresse}}
                                </td>
                                <td>
                                    {{e.adresse.cp + " " + e.adresse.ville}}
                                </td>
                                <td>
                                    {{e.adresse.pays}}
                                </td>

                                <td>
                                    {{e.email}}
                                </td>
<!--
                                <td class="media align-items-center">
                                    <div class="avatar-group">
                                        <a *ngFor="let j of e.liste_jobowner" href="javascript:void(0)"
                                            class="avatar avatar-sm" [ngbTooltip]="j.prenomUser + ' ' + j.nomUser" placement = "top" container="body">
                                            <img alt="Image placeholder" src="../../assets/img/theme/avatar.jpg"
                                                class="rounded-circle">
                                        </a>
                                    </div>
                                </td>-->

                                <td class="align-items-center">
                                    <button _ngcontent-c5="" class="btn btn-1 btn-primary align-items-right"
                                        type="button" (click)="editEntreprise(e)">Modifier</button>
                                    <button _ngcontent-c5="" class="btn btn-1 btn-danger align-items-right"
                                        type="button" (click)="deleteEntreprise(e.idEntreprise)">Supprimer</button>
                                    <!-- <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Action</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                                        </div>
                                    </div>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <p>Ajoutez une entreprise !</p>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="entreprise.nom" name="nom" placeholder="Nom"
                                    type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="entreprise.adresse.adresse"
                                    placeholder="Adresse" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="entreprise.adresse.ville" name="adresse.ville"
                                    placeholder="Ville" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="entreprise.adresse.cp" name="adresse.cp"
                                    placeholder="Code Postal" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="entreprise.adresse.pays" name="adresse.pays"
                                    placeholder="Pays" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="entreprise.email" name="email"
                                    placeholder="Email" type="email">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary mt-4" (click)="saveEntreprise()">Ajouter une
                                entreprise</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>