
<div class="col-xl-8 order-xl-1">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center" style="text-align: right">
            <div class="col-8">
                <h3 class="mb-0">Ajouter un test</h3>
            </div>
        </div>    
      <div class="card-body">
        <form (ngSubmit)="saveTest()">
            <h6 class="heading-small text-muted mb-4">Test information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Type</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="type de test" [(ngModel)]="test.type">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Niveau</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="niveau du test" [(ngModel)]="test.niveau">
                  </div>
                </div>
              </div>            
              
            </div>
                <hr class="my-4" />   
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Ajouter</a>              
            </div>       

          </form>
          <hr class="my-4" />
          <!-- Description -->
          <h6 class="heading-small text-muted mb-4">Liste des tests</h6>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">

                </thead>
            </table>
          </div>
      </div>
    </div>
</div>



<!-- Projects table -->
<!--
<div class="table-responsive">
    

    <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Liste des tests</th>
            <th scope="col"><label>Type</label></th>
            <th scope="col"><label>Niveau</label></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              /nom du test/
            </th>
            <td>
              4,569
            </td>
            <td>
              340
            </td>
            <td>
              <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
            </td>
          </tr>
          
        </tbody>
      </table>

  </div>

<div>
    <h1>La liste des tests</h1>
    <table>
        <tr>
            <th>Type</th>
            <th>Niveau</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let t of tests">
            <td>{{t.type}}</td>
            <td>{{t.niveau}}</td>
            <td><button (click)="saveTest(t.idTest)">save</button></td>
        </tr>
    </table>
    </div>

-->