<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="max-height: 600px; background-image: url(assets/img/theme/team1.png); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-1"></span>
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-10 col-md-10">
                <h1 class="display-2 text-white">Recruteurs</h1>
                <p class="text-white mt-0 mb-5">Créez un compte</p>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <p>Créer un compte Recruteur</p>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <label>Nom</label>
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="jobOwner.nomUser" name="nomUser" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Prénom</label>
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="jobOwner.prenomUser" name="prenomUser"
                                    type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="jobOwner.username" name="username"
                                    type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="jobOwner.password" name="password"
                                    type="password">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label>Métier</label>
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="jobOwner.metier" name="metier" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" [(ngModel)]="jobOwner.emailUser" name="emailUser"
                                    type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Entreprise</label>
                            <div class="input-group input-group-alternative">
                                <select name="entreprise" [(ngModel)]="jobOwner.entreprise">
                                    <option *ngFor="let e of entreprises" [ngValue]="e">{{e.nom}}</option>
                                </select>
                            </div>
                        </div>
                        

                        <div class="text-center">
                            <button type="button" class="btn btn-primary mt-4" (click)="saveJobOwner()">Creer un
                                compte</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>